<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/home.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="header">
      <div style="font-size:20px;">WELCOME {{user}}</div>
      <div>
        <div class="nav">PROFILE</div>
        <div class="nav">LOGOUT</div>
      </div>
    </div>
    <div class="container">
      <div class="logland" style="overflow:hidden">
      <div style="width:500px;background-image:url('static/my_app_side.jpg');background-position:right;height:100%">
        </div>
        <div class="login" style="padding:0px 50px">
          <h3>Upload Image</h>
          <form class="frm">
          <br/>
          <p style="font-size:12px;font-weight:lighter">Please Upload an image to get your <br/>food nutrition</p>
            <div class="icon-input">
                <input type="file" accept="image/*"/><br />
            </div>
            <button>Upload</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
