@font-face{
    font-family:poppinsMed;
    src:url("/static/Poppins/Poppins-Regular.ttf")
    }
    
    @font-face{
      font-family:poppinsSemi;
      src:url("/static/Poppins/Poppins-SemiBold.ttf")
      }
    

    body{
        background-image:url("/static/ibm_proj_bck.jpg");
        background-size:cover;
        background-repeat:no-repeat;
        background-position:center;
        margin:0px;
        width:100vw;
        height:100vh;
        display: flex;
        align-items:center;
        justify-content:center;
        font-family:poppinsMed;
    }
    
    .signup_container{
        display:flex;
        align-items:center;
        border:1px solid gray;
        background-color:rgba(218, 218, 218, 0.651);
    }
    p{
        width:450px;
        padding:50px;
        font-size:25px;
        text-align:justify;
    }
    
    .navbar{
      position: absolute;
      top: 40px;
      left: 0px;
      width: 100vw;
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .container {
      background-color: #262a41;
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .logland {
      background-color: white;
      border-radius: 10px;
      width: 500px;
      height: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .login{
        padding:100px;
        background-color:white;
    }
    .login ,.login > form{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .line{
      height:90%;
      width:3px;
      border-radius:0px 50% 0px 50%;
      background-color:black;
    }
    .dash{
      background-color: white;
      border-radius: 10px;
      width: 90%;
      height: 70%;
      display: flex;
      align-items: center;
      margin-top: 50px;
    }
    .task,.inprog{
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 50%;
      align-items: center; 
    }
    .task,.inprog > p{
      font-size: 25px;
    }
    .addtask{
      padding: 10px;
      border-radius: 10px;
      margin-bottom: 20px;
      justify-self: flex-end;
      width: 80%;
      border: 2px solid #17b31f;
    }
    .addtask > input{
      width: 92%;
      height: 30px;
      font-size: 20px;
      border: none;
      outline: none;
    }
    .addtask > button{
      font-size: 25px;
      background-color: white;
      border: none;
      color: #E91E63;
    
    }
    #tasks{
      height: 100%;
      width: 80%;
    }
    .eachtask,.eachtaskp{
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      border-radius: 5px;
      margin-bottom: 10px;
      background-color: #e8eaf6;
    }
    .eachtask>p,.eachtaskp >p{
      font-size: 18px;
    }
    .eachtask>p>i,.eachtaskp>p>i{
      font-size: 20px;
      margin: 0px 10px;
    }
    .eachtask>i,.eachtaskp>i{
      font-size: 30px;
      margin-right: 15px;
    }
    
    .eachtaskp{
      background: linear-gradient(to right,#e8eaf6 30%,#40b84686 70%);
    }
    .eachtaskp:nth-child(2){
      background: linear-gradient(to right,#e8eaf6 30%,#ff3c0088 70%);
    }
    .eachtaskp > button{
      cursor: pointer;
      margin-right: 15px;
      border-radius: 10px;
      padding: 5px 10px;
      border: none;
      background-color: #D9D9D9;
      font-family: 'Poppins', sans-serif;
    
    }
    h3{
        font-size: 30px;
        letter-spacing: 1.5px;
    }
    .frm input{
        height:40px;
        border-radius:0px 10px 10px 0px;
        border:2px solid gray;
        border-left: none;
        transition: 1s ease;
        outline:none;
        min-width:250px;
        padding-left: 10px;
    }
    .frm>input:focus{
        border:2px solid rgb(29, 98, 247);
    }
    .icon-input{
        /* border:2px solid red; */
        display: flex;
        align-items: center;
        margin:10px 0px;
    }
    .icon-input>i{
      /* border:2px solid red; */
      align-self: stretch;
      min-width:40px;
      display: flex;
      align-items: center;
      justify-content: center;
      color:white;
      background-color:#262a41;
      border-radius:10px 0px 0px 10px;
    }
    
    input{
        font-family: 'Quicksand', sans-serif;
    }
    .frm button{
        margin-top: 20px;
        border: none;
        border-radius: 10px;
        padding: 5px 20px;
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
        background-color: #00E676;
        cursor: pointer;
    }
    .frm button:hover{
        color: #00E676;
        background-color: black;
    }

    .blur_background{
      background-color:rgba(0, 0, 0, 0.274);
      position:fixed;
      top:0px;
      left:0px;
      width:100vw;
      height:200vh;
      z-index:-1;
    }
    
    .notify{
      position:fixed;
      top:10px;
      margin-left:50%;
      transform: translateX(-50%);
      left:0px;
      border:1px solid gray;
      width:max-content;
      background-color: white;
      color:black;
    }
